@font-face {
  font-family: "Vazir";
  src: url(../public/assets/fonts/Vazir/Vazir-FD-WOL.ttf) format(truetype);
}
@font-face {
  font-family: "Vazir";
  src: url(../public/assets/fonts/Vazir/Vazir-FD-WOL.woff) format(woff);
}
@font-face {
  font-family: "Vazir";
  src: url(../public/assets/fonts/Vazir/Vazir-FD-WOL.woff2) format(woff2);
}
@font-face {
  font-family: "Vazir-bold";
  src: url(../public/assets/fonts/Vazir/Vazir-Bold-FD-WOL.ttf) format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: "Vazir-bold";
  src: url(../public/assets/fonts/Vazir/Vazir-Bold-FD-WOL.woff) format(woff);
  font-weight: 600;
}
@font-face {
  font-family: "Vazir-bold";
  src: url(../public/assets/fonts/Vazir/Vazir-Bold-FD-WOL.woff2) format(woff2);
  font-weight: 600;
}
/* :root {
  --color-white: #fff;
  --color-white-100: #f0f0f0;
  --color-black: #000;
  --color-gray: #676767;
  --color-gray-dark: #333;
  --color-gray-light: #c5c5c5;
  --color-green-dark: #00aa9d;
  --color-green-light: #00beb0;

  --color-green: #1eb35b;

  --color-theme: #f3f4f6;
  --color-theme-link-text: #1eb35b;
  --color-theme-wrapper: #fff;
  --color-theme-text: #000;
  --color-theme-text-light: #676767;
  --color-theme-bg-light: #f3f4f6;
  --color-theme-link-active: #1eb35b;
  --color-lamp: #f0ef7c;

  font-family: "Vazir";
}
body.dark-theme {
  --color-theme: #111827;
  --color-theme-link-text: #111827;
  --color-theme-wrapper: #64748b;
  --color-theme-text: #fff;
  --color-gray-light: #fff;
  --color-theme-text-light: #fff;
  --color-theme-bg-light: #f3f4f6;
  --color-theme-link-active: #0a97d4;
  --color-lamp: #abf9ff;
} */

:root {
  --color-shadow: #0000001a;
  --color-white: #ffffff;
  --color-white-100: #f8fafc;
  --color-black: #000000;
  --color-gray: #6b7280;
  --color-gray-dark: #374151;
  --color-gray-light: #d1d5db;

  --color-green-dark: #059669;
  --color-green-light: #10b981;
  --color-green: #22c55e;

  --color-theme: #f8fafc;
  --color-theme-link-text: #059669;
  --color-theme-wrapper: #ffffff;
  --color-theme-text: #111827;
  --color-theme-text-light: #6b7280;
  --color-theme-bg-light: #f8fafc;
  --color-theme-link-active: #10b981;
  --color-lamp: #fde047;

  --color-row-odd-table: #fdfdfd;
  --color-row-even-table: #e7e7e7;

  font-family: "Vazir";

  --color-success: #86e49d;
  --color-success-text: #006b21;
  --color-pending: #fde047;
  --color-pending-text: #916d03;
  --color-cancelled: #d893a3;
  --color-cancelled-text: #b30021;
}

body.dark-theme {
  --color-shadow: #d1d5db;
  --color-theme: #0f172a;
  --color-theme-link-text: #38bdf8;
  --color-theme-wrapper: #1e293b;
  --color-theme-text: #ffffff;
  --color-gray-light: #94a3b8;
  --color-theme-text-light: #cbd5e1;
  --color-theme-bg-light: #94a3b8;
  --color-theme-link-active: #38bdf8;
  --color-lamp: #abf9ff;

  --color-row-odd-table: #1e293b;
  --color-row-even-table: #334155;

  font-family: "Vazir";
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-theme);
  overflow-x: hidden;
  overflow-y: auto;
  transition: background-color 0.4s ease, color 0.4s ease;
}
/*header*/
header {
  position: fixed;
  z-index: 9999;
}
/*navbar*/
.header__top {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-theme-wrapper);
  /* box-shadow: 0 0 2px 1px var(--color-gray-light); */
  box-shadow: 0 0 2px 1px var(--color-shadow);
  backdrop-filter: blur(10px);
}
.navbar__wrapper {
  height: 90%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}
.navbar__wrapper__logo {
  align-items: center;
  justify-content: center;
  width: 150px;
}
.navbar__wrapper__logo a {
  width: 70px;
}
.navbar__wrapper__logo a img {
  max-width: 80%;
}
.navbar__wrapper__links {
  width: 800px;
}
.navbar__links {
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
}
.navbar__link {
  padding: 10px 0px;
}
.nav-link {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: var(--color-theme-text);
  &::after {
    content: "";
    height: 3px;
    background-color: var(--color-theme-link-active);
    width: 0;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: all 300ms ease;
  }
  &:hover::after {
    width: 100%;
  }
  /*change url highlight link */
  &.active {
    font-family: "Vazir-bold";
    font-weight: 600;
    color: var(--color-theme-link-text);
  }
}

.navbar__wrapper__theme-changer {
  align-items: center;
  justify-content: center;
  width: 180px;
}
.navbar__wrapper__theme-changer span {
  display: flex;
  align-items: center;
  position: relative;
  width: 34%;
  height: 32px;
  padding: 12px 6px;
  border-radius: 20px;
  background-color: var(--color-theme-link-active);
  cursor: pointer;
}
.navbar__wrapper__theme-changer span img {
  position: absolute;
  width: 24px;
  left: 6px;
  border-radius: 50%;
  background-color: var(--color-lamp);
  /* transition: left 0.5s ease; */
  transition: left 0.5s ease, transform 0.3s ease;
}

/*helper classes*/
.d-flex {
  display: flex;
}
.bg-white {
  background-color: var(--color-white);
}
/*main*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 150px 32px 100px;
}

/*footer*/
footer {
  /* position: fixed;
  bottom: 0; */
  /* padding: 16px; */
  width: 100vw;
  height: auto;
  background-color: var(--color-theme-wrapper);
  /* box-shadow: 0 0 2px 1px var(--color-gray-light); */
  box-shadow: 0 0 2px 1px var(--color-shadow);
  backdrop-filter: blur(10px);
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__wrapper {
  height: 90%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}

.footer__wrapper__socials ul {
  padding: 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.footer__wrapper__socials ul li {
  cursor: pointer;
  background-color: var(--color-theme-bg-light);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  &:hover {
    background-color: var(--color-theme-link-active);
    transform: scale(1.2);
  }
}

.footer__wrapper__socials ul li a img {
  width: 32px;
}
.footer__wrapper__links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  padding: 14px 0;
  gap: 120px;
}
.footer__wrapper__links ul li {
  font-size: 16px;
  color: var(--color-theme-text-light);
  transition: all 300ms ease;
  &:hover {
    color: var(--color-theme-link-active);
    transform: scale(1.2);
  }
}

.footer__bottom {
  /* padding: 10px 0 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__bottom__copy-right {
  width: 80%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid var(--color-gray-light);
  color: var(--color-theme-text-light);
}
.designer {
  color: var(--color-theme-link-text);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
