main {
  direction: rtl;
  flex-direction: column;
}
.table__main {
  width: 1200px;
}
.table__title {
  padding: 20px;
  text-align: center;
  color: var(--color-theme-text);
  font-size: 20px;
  font-weight: 600;
}
table {
  width: 100%;
  min-width: 800px;
  max-height: 400px;
  overflow-y: auto;
}
th,
td {
  font-size: 14px;
  border: 1px solid var(--color-black);
  padding: 8px 8px;
  text-align: right;
  align-content: center;
}
thead {
  background-color: var(--color-theme-link-active);
  cursor: pointer;
}
thead tr th {
  font-size: 16px;
  padding: 20px 8px;
  user-select: none;
}
table tbody td:nth-child(2) img {
  width: 36px;
  height: auto;
  justify-self: center;
}
th:nth-child(1),
td:nth-child(1) {
  width: 4%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 10%;
  text-align: center !important;
}
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 5%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 8%;
}
th:nth-child(6),
td:nth-child(6) {
  width: 8%;
}
th:nth-child(7),
td:nth-child(7) {
  width: 12%;
  text-align: center !important;
}
th:nth-child(8),
td:nth-child(8) {
  width: 15%;
  text-align: center !important;
}
tbody tr:nth-child(odd) {
  background-color: var(--color-row-odd-table);
  color: var(--color-theme-text);
}

tbody tr:nth-child(even) {
  background-color: var(--color-row-even-table);
  color: var(--color-theme-text);
}
.success {
  background-color: var(--color-success);
  color: var(--color-success-text);
}
.pending {
  background-color: var(--color-pending);
  color: var(--color-pending-text);
}
.cancelled {
  background-color: var(--color-cancelled);
  color: var(--color-cancelled-text);
}
.status {
  padding: 2px 16px;
  font-size: 13px;
  border-radius: 6px 0 6px 0;
}

/*pagination*/

.pagination__wrapper {
  width: 1200px;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  column-gap: 24px;
  padding: 32px 10px;
}
.pagination__number {
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-row-even-table);
  color: var(--color-theme-text);
}
.pagination__numbers__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  column-gap: 24px;
  max-width: 80%;
}
.pagination__number.active {
  color: var(--color-theme-text);
  background-color: var(--color-theme-link-active);
  font-weight: 600;
  transition: all 300ms ease;
}

.pagination__arrow {
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-row-even-table);
  color: var(--color-theme-text);
}

.pagination__arrow path {
  stroke: var(--color-theme-text);
  width: 20px;
  height: 20px;
}
.table__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table__title {
  padding: 20px;
  text-align: start;
  color: var(--color-theme-text);
  font-size: 20px;
  font-weight: 600;
  width: 75%;
}
.table__qty {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-theme-text);
  width: 20%;
  font-size: 14px;
}
.table__qty label {
  color: var(--color-theme-text);
}
.table__qty select {
  background-color: var(--color-theme-link-active);
  border-radius: 4px;
}
svg {
  width: 16px;
  height: auto;
}
.sort-arrow {
  font-size: 24px;
  font-weight: 700;
}

.sort-arrow {
  color: var(--color-black);
  text-shadow: 0 0 10px var(--color-white);
}
#available {
  border: none;
  font-size: 10px;
  border-radius: 4px;
  outline: none;
  padding: 2px;
  margin-right: 8px;
}

.action__btn {
  padding: 4px 6px;
  margin: 0 3px;
  border-radius: 4px;
  /* background-color: var(--color-modify); */
  outline: none;
  border: 0.8px solid;
}
.remove__row__btn {
  background-color: var(--color-cancelled);
  border-color: var(--color-cancelled-text);
}
.modal {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  height: auto;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-white);
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  gap: 32px;
  border: 10px solid var(--color-theme-link-active);
}
.modal__btns__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.modal__btns__wrapper button {
  width: 80px;
  height: 32px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
.modal__wrapper__inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
input,
select {
  border: 1px solid black;
  padding: 4px 6px;
  border-radius: 6px;
}
#modal-name {
  width: 80%;
}
.modal form {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 32px;
}
